<!-- Breadcrumb section -->

<div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
    <div class="container text-center">
        <h1 class="text-dark font-500 mb-0">
            About Us
        </h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb mb-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)" [routerLink]="['/home']"
                        class="text-gray font-400 text-font-18">Home</a>
                </li>
                <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                    About Us
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Breadcrumb End -->


<section class="about_us_sec">
    <div class="container-fluid">
      <div class="row mx-0 px-5 mb-5 pb-5">
        <div class="col-lg-4">
          <div class="about_us_sec_img_m">
            <img class="img-fluid" src="../../../assets/images/about_us_img1.png">
          </div>
        </div>
        <div class="col-lg-8">
          <h2 class="text-dark font-400 mb-4 about_us_title">
            WHO ARE WE
          </h2>
          <p class="font-400 text-gray font-18">
            Half Price Bazaar is a India’s one stop destination for curated 
            fashion & lifestyle products from all over the country. We are a 
            home to a multitude of brands for apparels, fragrances, accessories, 
            cosmetic, footwear, home décor, kids fashion and furnishings catering 
            to all the needs of your entire family. 
            <br>
            <br>
            We aspire to provide our customers a memorable experience at lowest price 
            available anywhere in the market. 
            <br>
            <br>
            Our vision is, “to become a trusted destination where people 
            can find and discover anything they want to shop online with a 
            delightful experience every time”.
          </p>
        </div>
      </div>
      <div class="row mx-0 px-5 mb-5 pb-5">
        <div class="col-lg-8">
          <h2 class="text-dark font-400 mb-4 about_us_title">
            What sets us apart?
          </h2>
          <p class="font-400 text-gray font-18">
            We want to make your online shopping experience as seamless as possible. 
            You will get an access to lacs of products across a slew of categories curated 
            by our professionals at your fingertips. 
            <br>
            <br>
            We understand that bargaining is a pleasure that every customer 
            looks for. With Half Price Bazaar, you never have to worry about 
            the price because what’s better than getting everything at a better 
            price than the market?
            <br>
            <br>
            Every time you visit Half Price Bazaar, 
            we want you to leave with something you love without 
            worrying for the shipping timelines, payment security, 
            customer service and returns/refunds in case you change your mind!
          </p>
        </div>
        <div class="col-lg-4">
          <div class="about_us_sec_img_m">
            <img class="img-fluid" src="../../../assets/images/about_us_img2.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- About us section End -->
  
  <!-- Our Promise section -->
  
  <section class="our_promise_sec py-5" style="background: #f3f3f3;">
    <div class="container-fluid">
      <div class="row mx-0 px-5">
        <div class="col-lg-12">
          <h2 class="about_us_title text-center mb-5 text-dark font-400">
            Our Promise
          </h2>
        </div>
        <div class="col-lg-25--cstm text-center">
          <div class="our_promise_sec_icon">
            <img class="img-fluid" src="../../../assets/images/a_look_you_love.svg">
          </div>
          <h5 class="text-dark font-500 mt-4">
            A look you love
          </h5>
        </div>
        <div class="col-lg-25--cstm text-center">
          <div class="our_promise_sec_icon">
            <img class="img-fluid" src="../../../assets/images/value_money.svg">
          </div>
          <h5 class="text-dark font-500 mt-4">
            Value For Money
          </h5>
        </div>
        <div class="col-lg-25--cstm text-center">
          <div class="our_promise_sec_icon">
            <img class="img-fluid" src="../../../assets/images/convenience_shopping.svg">
          </div>
          <h5 class="text-dark font-500 mt-4">
            Convenience of shopping & delivery
          </h5>
        </div>
        <div class="col-lg-25--cstm text-center">
          <div class="our_promise_sec_icon">
            <img class="img-fluid" src="../../../assets/images/easy_returns.svg">
          </div>
          <h5 class="text-dark font-500 mt-4">
            Easy Returns
          </h5>
        </div>
        <div class="col-lg-25--cstm text-center">
          <div class="our_promise_sec_icon">
            <img class="img-fluid" src="../../../assets/images/speed_delivery.svg">
          </div>
          <h5 class="text-dark font-500 mt-4">
            Speedy Delivery
          </h5>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Our Promise section End -->
  
  <!-- Top Categories section -->
  
  <section class="top_categories_sec py-5 mt-5 mb-5">
    <div class="container-fluid">
      <div class="row mx-0 px-5">
        <div class="col-lg-12">
          <h2 class="about_us_title text-center mb-5 text-dark font-400">
            Our Top Categories:
          </h2>
        </div>
        <div class="col-lg-6">
          <div class="top_cate_img_cotnr text-right" style="background-image: url(../../../assets/images/top_cate_womens.png);">
            <div class="top_cate_img_cotnr_title_position">
              <h3 class="text-dark mb-3 w-100 d-inline-block">
                Womens
              </h3>
              <a href="javaScript:void(0)" class="btn-theme-border py-3 px-5 mt-0 d-inline-block">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="top_cate_img_cotnr text-right" style="background-image: url(../../../assets/images/top_cate_mens.png);">
            <div class="top_cate_img_cotnr_title_position">
              <h3 class="text-dark mb-3 w-100 d-inline-block">
                Men
              </h3>
              <a href="javaScript:void(0)" class="btn-theme-border py-3 px-5 mt-0 d-inline-block">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="top_cate_img_cotnr text-right" style="background-image: url(../../../assets/images/top_cate_kids.png);">
            <div class="top_cate_img_cotnr_title_position">
              <h3 class="text-dark mb-3 w-100 d-inline-block">
                Kids
              </h3>
              <a href="javaScript:void(0)" class="btn-theme-border py-3 px-5 mt-0 d-inline-block">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="top_cate_img_cotnr text-right" style="background-image: url(../../../assets/images/top_cate_home.png);">
            <div class="top_cate_img_cotnr_title_position">
              <h3 class="text-dark mb-3 w-100 d-inline-block">
                Home
              </h3>
              <a href="javaScript:void(0)" class="btn-theme-border py-3 px-5 mt-0 d-inline-block">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  