.inputTag{
    width: 250px;
    
}
#delivery-pincode{
   border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.checkOption{
    border:none;
    margin-left: 20px;
}
#navigatebefore,#navigateafter{
    font-size: 100px;
}
#navigateafter{
position: absolute;
// left: 1675px;
top: 2800px;
float: right;
right: 0;
}
#navigatebefore{
    position: absolute;
    // left: 1675px;
    top: 2800px;
    float: left;
    left: 0;
    }