.inputTag{
    width: 250px;
    
}
#delivery-pincode{
   border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.checkOption{
    border:none;
    margin-left: 20px;
}
