<section class="booking-conrfirmed-section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-12">
                <div class="booking-c-wraper">
                    <i><img src="assets/images/404.svg"></i>
                    <h2>Oops! Page not found!</h2>
                    <!-- <p>Don’t worry, we’re routing you on our Home page in {{timeLeft}} sec...</p> -->
                </div>

                
            </div>
        </div>
        
    </div>


</section>

<button type="button" class="btn-border pending-button"  id="homebtn" (click)="onHomeClick()">HOME</button>

