<div class="prdct_sec_filter_sec_cat_pnl mb-5 d-inline-block w-100">
    <h4 class="font-500 pb-2 mb-4">
        Category
    </h4>
    <div id="accordion">
        <div class="panel">
            <a class="prdct_sec_filter_sec_cat_pnl_a_def prdct_sec_filter_sec_cat_pnl_a_def_nt_clps"
                href="javaScript:void(0)">
                Bags
            </a>
        </div>
        <!-- <ng-container *ngFor="let key of Object.keys(productCategories)">
        <div class="panel">
            <a class="prdct_sec_filter_sec_cat_pnl_a_def collapsed" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne">
                {{key}}
                <span class="material-icons icon_ad">add</span>
                <span class="material-icons icon_rem">remove</span>
            </a>
            <div id="collapseOne" class="collapse in">
                <ul class="p-0 m-0" style="list-style-type:none">
                    <ng-container *ngFor="let items of productCategories[key]">
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            {{items.name}}
                        </a>
                    </li>
                </ng-container>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Travel Bags
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Backpacks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container> -->
        <!-- <div class="panel">
            <a class="prdct_sec_filter_sec_cat_pnl_a_def collapsed" data-toggle="collapse" data-parent="#accordion"
                href="#collapseTwo">
                Clothes
                <span class="material-icons icon_ad">add</span>
                <span class="material-icons icon_rem">remove</span>
            </a>
            <div id="collapseTwo" class="collapse">
                <ul class="p-0 m-0" style="list-style-type:none">
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Hand Bags
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Travel Bags
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Backpacks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <a class="prdct_sec_filter_sec_cat_pnl_a_def collapsed" role="button" data-toggle="collapse"
                data-parent="#accordion" href="#collapseThree">
                Fashion
                <span class="material-icons icon_ad">add</span>
                <span class="material-icons icon_rem">remove</span>
            </a>
            <div id="collapseThree" class="collapse">
                <ul class="p-0 m-0" style="list-style-type:none">
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Hand Bags
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Travel Bags
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javaScript:void(0)" class="d-flex w-100 py-2 font-500 font-16 text-dark px-2">
                            Backpacks
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</div>