<!-- Breadcrumb section -->

<div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom" *ngIf="isBlogsRoute">
    <div class="container text-center">
        <h1 class="text-dark font-500 mb-0">
            Blogs
        </h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb mb-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="#" class="text-gray font-400 text-font-18">Home</a>
                </li>
                <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                    Blogs
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Breadcrumb End -->

<!-- Blogs section -->

<section class="py-5 my-5 blog_section">
    <div class="container-fluid">
        <div class="row mx-0" *ngIf="isBlogsRoute == false">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="sec_title d-inline-block position-relative">
                    From Our Blog
                </h2>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="blog_section_crd">
                    <div class="blog_section_crd_img">
                        <img src="../../../assets/images/col_img_1.png" class="img-fluid">
                    </div>
                    <div class="blog_section_crd_content p-3">
                        <div class="d-inline-block text-center w-100 text-gray py-2">
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/date_icon.svg">
                                </span>
                                <span class="font-18">
                                    July 20, 21
                                </span>
                            </div>
                            <div class="d-inline-block w-50 float-left px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/comment_icon.svg">
                                </span>
                                <span class="font-18">
                                    0 Comments
                                </span>
                            </div>
                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <span>
                                    <img class="img-fluid" width="20" height="20"
                                        src="../../../assets/images/blog_user_icon.svg">
                                </span>
                                <span class="font-18">
                                    Ram M
                                </span>
                            </div>

                            <div class="d-inline-block w-100 float-unset mt-2 px-2">
                                <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                                    Luxury Designer cloths for Kids
                                </h5>
                            </div>
                            <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                                Read More
                                <span class="material-icons">navigate_next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blogs section End -->