.owl-theme .owl-nav [class*=owl-]{
    padding: 4px 30px !important;
}
.offers_img{
    width: 100% !important;
    height: 450px !important;  
}

.carousel_wrapper{
    margin-top: 3rem;
}
// .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots span{
//     padding: 4px 30px !important;
// }
.blogs_img{
    width: 396.33px !important;
    height: 325px !important;
}