<!-- Breadcrumb section -->

<div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
    <div class="container text-center">
        <h1 class="text-dark font-500 mb-0">
            FAQ's
        </h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb mb-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="#" class="text-gray font-400 text-font-18">Home</a>
                </li>
                <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                    FAQ's
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Breadcrumb End -->

<!-- Faq's section -->

<section class="faq_sec">
    <div class="container-fluid">
        <div class="row mx-0 px-5">
            <div class="col-lg-12">
                <div class="accordion" id="accordionExample">
                    <ng-container *ngFor="let item of faqs ;let idx = index">
                        <div class="card">
                            <div class="card-head" [id]="'heading'+idx">
                                <h2 class="mb-0" data-toggle="collapse" [attr.data-target]="'#collapse'+idx"
                                    aria-expanded="true" [attr.aria-controls]="'collapse'+idx">
                                    <span class="material-icons">expand_more</span>
                                    {{item.faqs_name}}
                                </h2>
                            </div>

                            <div [id]="'collapse'+idx" class="collapse " [attr.aria-labelledby]="'heading'+idx"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    {{item.faqs}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Faq's section End -->