<div class="profile_sec_partiton_002_al_wt_brdcrmb">

  <div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
      <div class="container text-center">
          <h1 class="text-dark font-500 mb-0">
              Change Password
          </h1>
          <nav aria-label="breadcrumb" class="d-flex justify-content-center">
              <ol class="breadcrumb mb-0 bg-transparent">
                  <li class="breadcrumb-item">
                      <a href="javascript:void(0)" [routerLink]="['/home']" class="text-gray font-400 text-font-18">Home</a>
                  </li>
                  <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                      Change Password
                  </li>
              </ol>
          </nav>
      </div>
  </div>

  <div class="profile_sec py-5 w-75 mx-auto">
    <div class="profile_sec_partiton d-inline-block w-100 h-100">
      <div class="profile_sec_prt_2tb">
        <div class="row mx-0 px-5">
          <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <form class="custom_form" [formGroup]="userForm" (submit)="changePassword()">
              <div class="form-row">
                <div class="form-group col-md-12 px-3 mb-4">
                  <input type="password" class="form-control" placeholder="Old Password"
                  formControlName="old_password" (keyup)="validateFormField('old')">
                </div>
                <div class="form-group col-md-12 px-3 mb-4">
                  <input type="password" class="form-control" placeholder="New Password"
                  formControlName="password" (keyup)="validateFormField('new')">
                </div>
                <div class="form-group col-md-12 px-3 mb-4">
                  <input type="password" class="form-control" placeholder="Confirm New Password"
                  formControlName="confirm_password" (keyup)="validateFormField('confirm')">
                </div>
                <div class="form-group col-md-12 text-center px-3 mb-4">
                  <button type="submit" class="w-100 btn btn-theme font-18 py-4 px-5 mt-2"
                  [disabled]="!userForm.valid">Change Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>