<div class="prdct_sec_filter_sec_all_pnl prdct_sec_filter_sec_size_pnl mb-5 d-inline-block w-100">
    <h4 class="font-500 pb-2 mb-4">
        <span class="material-icons prdct_sec_filter_sec_all_pnl_arw_icon">arrow_drop_down</span>
        Shop By Size
    </h4>
    <div class="p-0 m-0" style="list-style-type:none">
        <div class="form-group mt-2 d-inline-block w-100">
            <div class="selector">
                <div class="selection selected">S</div>
                <div class="selection">M</div>
                <div class="selection">L</div>
                <div class="selection">XL</div>
                <div class="selection">XXL</div>
            </div>
        </div>
    </div>
</div>