<!-- Social Icons -->

<section class="social_icons_sec mb-5 pb-0">
    <div class="row mx-0">
        <div class="col-lg-12 text-center">
            <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
                <li class="float-left px-3">
                    <a href="javaScript:void(0)">
                        <img src="../../../assets/images/fb_icon.svg" width="26" height="26">
                    </a>
                </li>
                <li class="float-left px-3">
                    <a href="javaScript:void(0)">
                        <img src="../../../assets/images/twitter_icon.svg" width="26" height="26">
                    </a>
                </li>
                <li class="float-left px-3">
                    <a href="javaScript:void(0)">
                        <img src="../../../assets/images/insta_icon.svg" width="26" height="26">
                    </a>
                </li>
                <li class="float-left px-3">
                    <a href="javaScript:void(0)">
                        <img src="../../../assets/images/youtube_icon.svg" width="26" height="26">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Social Icons End -->


<!-- Footer -->

<footer class="footer_main">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-lg-3">
                <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
                    Contact us
                </h4>
                <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
                    <span class="footer_contact_det_icons">
                        <img class="img-fluid" src="../../../assets/images/ft_home.svg" width="22" height="22">
                    </span>
                    <span class="d-block float-left w-75 text-gray font-18 pl-4 ml-2">
                        One International Center, 4th Floor, Tower 1, Senapati Bapat Marg, Dadar West, Prabhadevi,
                        <br>
                        <br>
                        Mumbai Maharashtra - 400013
                    </span>
                </div>
                <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
                    <span class="footer_contact_det_icons">
                        <img class="img-fluid" src="../../../assets/images/ft_call.svg" width="22" height="22">
                    </span>
                    <span class="d-block float-left text-gray font-18 pl-4 ml-2">
                        +91-9152 990 990
                    </span>
                </div>
                <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
                    <span class="footer_contact_det_icons">
                        <img class="img-fluid" src="../../../assets/images/ft_mail.svg" width="22" height="22">
                    </span>
                    <span class="d-block float-left text-gray font-18 pl-4 ml-2">
                        helpme@yaari.com
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
                    Help
                </h4>
                <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Search
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Help
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Information
                        </a>
                    </li> -->
                    <li class="mb-3">
                        <a  class="font-18 text-gray"
                        [routerLink]="['app/privacy']">
                            Privacy Policy
                        </a>
                    </li>
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Shipping Details
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
                    Support
                </h4>
                <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
                    <li class="mb-3">
                        <a  class="font-18 text-gray" 
                        [routerLink]="['app/contact']">
                            Contact Us
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="font-18 text-gray"
                        [routerLink]="['app/about']">
                            About Us
                        </a>
                    </li>
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Careers
                        </a>
                    </li> -->
                    <li class="mb-3">
                        <a  class="font-18 text-gray"
                        [routerLink]="['app/refund-returns']">
                            Refund & Returns
                        </a>
                    </li>
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Deliveries
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
                    Information
                </h4>
                <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Search Teams
                        </a>
                    </li> -->
                    <!-- <li class="mb-3">
                        <a href="javaScript:void(0)" class="font-18 text-gray">
                            Advance Search
                        </a>
                    </li> -->
                    <li class="mb-3">
                        <a  class="font-18 text-gray"
                        [routerLink]="['app/faq']">
                            Help & FAQ's
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="font-18 text-gray"
                        [routerLink]="['app/orders-returns']">
                            Orders & Returns
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Footer End -->

<!-- Other Links -->

<section class="social_icons_sec py-4">
    <div class="row mx-0">
        <div class="col-lg-12 text-center">
            <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
                <!-- <li class="float-left px-4">
                    <a href="javaScript:void(0)" class="font-18 text-gray">
                        Search
                    </a>
                </li> -->
                <!-- <li class="float-left px-4">
                    <a href="javaScript:void(0)" class="font-18 text-gray">
                        Help
                    </a>
                </li> -->
                <!-- <li class="float-left px-4">
                    <a href="javaScript:void(0)" class="font-18 text-gray">
                        Information
                    </a>
                </li> -->
                <li class="float-left px-4">
                    <a href="javaScript:void(0)" class="font-18 text-gray"
                    [routerLink]="['app/privacy']">
                        Privacy Policy
                    </a>
                </li>
                <!-- <li class="float-left px-4">
                    <a href="javaScript:void(0)" class="font-18 text-gray">
                        Shipping Details
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</section>

<!-- Other Links End -->

<!-- Blank -->
<div class="w-100 d-flex py-4" style="background: #363636;"></div>
<!-- Blank -->