<!-- Breadcrumb section -->

<div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
    <div class="container text-center">
        <h1 class="text-dark font-500 mb-0">
            Refund & Returns
        </h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb mb-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)" [routerLink]="['/home']"
                        class="text-gray font-400 text-font-18">Home</a>
                </li>
                <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
                    Refund & Returns
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Breadcrumb End -->
