<div class="prdct_sec_filter_sec_all_pnl mb-5 d-inline-block w-100">
    <h4 class="font-500 pb-2 mb-4">
        <span class="material-icons prdct_sec_filter_sec_all_pnl_arw_icon">arrow_drop_down</span>
        Shop By Color
    </h4>
    <ul class="p-0 m-0" style="list-style-type:none" *ngFor="let color of colors">
        <li class="py-2 d-flex m-auto">
            <div class="color"  [ngStyle]="{'background-color': color.hex}">
                <input type="checkbox" name="color" (click)="onColorAdd(color.id)">
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                {{color.name}}
            </span>
        </li>
        
    </ul>
</div>