<div class="prdct_sec_filter_sec_all_pnl mb-5 d-inline-block w-100">
    <h4 class="font-500 pb-2 mb-4">
        <span class="material-icons prdct_sec_filter_sec_all_pnl_arw_icon">arrow_drop_down</span>
        Shop By Color
    </h4>
    <ul class="p-0 m-0" style="list-style-type:none">
        <li class="py-2 d-flex m-auto">
            <div class="color" style="background-color: #0066ff">
                <input type="radio" name="color" checked>
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                Blue
            </span>
        </li>
        <li class="py-2 d-flex m-auto">
            <div class="color" style="background-color: #fd4949">
                <input type="radio" name="color">
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                Red
            </span>
        </li>
        <li class="py-2 d-flex m-auto">
            <div class="color" style="background-color: #ffbc00">
                <input type="radio" name="color">
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                Yellow
            </span>
        </li>
        <li class="py-2 d-flex m-auto">
            <div class="color" style="background-color: white">
                <input type="radio" name="color">
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                White
            </span>
        </li>
        <li class="py-2 d-flex m-auto">
            <div class="color" style="background-color: gray">
                <input type="radio" name="color">
                <i class="checkbox-icon"></i>
            </div>
            <span class="font-500 font-18 text-dark ml-2 my-auto">
                Gray
            </span>
        </li>
    </ul>
</div>