.timer{
    color: slategray;
    float: right;
    font-weight: bolder;
    font-size: larger;
}

.resend span{
    color: slategray;
    float: right;
    font-weight: bold;
    font-size: medium;
}

.resend a{
    color:black;
    float: right;
    font-weight: bold;
    font-size: medium;
}