<div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
    <div class="container text-center">
      <h1 class="text-dark font-500 mb-0">
        Reset your password
      </h1>
      <nav aria-label="breadcrumb" class="d-flex justify-content-center">
        <ol class="breadcrumb mb-0 bg-transparent">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)" class="text-gray font-400 text-font-18"
            [routerLink]="['/home']">Home</a>
          </li>
          <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
            forgot password
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- forget password section -->
<section class="sing_in_sec">
    <div class="container-fluid">
      <div class="row mx-0 px-5">
        <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">

          <form *ngIf="otpForm" class="custom_form" [formGroup]="generateOtpForm" (submit)="resetPassword()">
            <div class="form-row">

              <div class="form-group col-md-12 mb-4" >
                <input type="text" class="form-control" id="inputEmail4" placeholder="Mobile No."
                (blur)="validateFormField('mobile')" formControlName="mobile" name="inputEmail4" value="" [readonly]="!otpBtn">
              </div>

              <div class="form-group col-md-12 mb-4" *ngIf="!otpBtn" >
                <input type="text" class="form-control p-3"  
                (keyup)="validateFormField('otp')" formControlName="otp" placeholder="Enter OTP"> 
                <strong class="timer" *ngIf="showTimer">{{timeLeft}}</strong> 
                <div class="resend mt-2" *ngIf="showResendOtp">
                  <a href="javascript:void(0)" (click)="resendOtp()">Resend Otp</a><br> 
                  <!-- <span>{{chanceRemaining}} chance remaining</span> -->
                </div>  
              </div>

            </div>
            <button type="button" class="btn btn-theme font-18 w-100 py-4" *ngIf="otpBtn"  
            [disabled]="!(generateOtpForm.value.mobile.length >= '10')" (click)="timer(59)" (click)="generateOtp()" >Generate Otp</button>
            
            <button type="button" class="btn btn-theme font-18 w-100 py-4" *ngIf="!otpBtn"  
            [disabled]="!(generateOtpForm.value.otp.length == '4')" (click)="verifyOtp()">Verify Otp</button>
         </form>

          <form *ngIf="!otpForm" class="custom_form" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
            <div class="form-row">

              <div class="form-group col-md-12 mb-4">
                <input [type]="pass_field" class="form-control"  id="inputPassword4" placeholder="Password"
                (blur)="validateFormField('password')" formControlName="password" name="password" id="password" autocomplete="off" required>
                <span class="material-icons pass_hide_icons" *ngIf="showPassword" (click)="showPass('show')">visibility</span>
                <span class="material-icons pass_hide_icons" *ngIf="!showPassword" (click)="showPass('hide')">visibility_off</span>
              </div>

              <div class="form-group col-md-12 mb-4">
                <input [type]="pass_type" class="form-control"  id="inputPassword4" placeholder="Confirm Password"
                (blur)="validateFormField('confirm')" formControlName="confirm_password" name="confirm_password" id="confirm_password" autocomplete="off" required> 
                <span class="material-icons pass_hide_icons" *ngIf="isVisible " (click)="showConfirmPass('show')">visibility</span>
                <span class="material-icons pass_hide_icons" *ngIf="!isVisible" (click)="showConfirmPass('hide')">visibility_off</span>
              </div>
              
            </div>
            <button type="button" class="btn btn-theme font-18 w-100 py-4" (click)="resetPassword()" 
            [disabled]="!resetPasswordForm.valid">Reset Password</button>
          </form>

          <div class="d-inline-block w-100 text-center mt-4 mb-2">
            <a  class="text-dark font-400 font-18" style="text-decoration: underline;"
                [routerLink]="['/register']">
              Create account
            </a>
          </div>
          <div class="d-inline-block w-100 text-center my-3">
            <a [routerLink]="['/home']" class="text-dark font-500 font-18">
              Return to store
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- forget password section End -->
  