.timer{
    color: slategray;
    margin-left: 48rem;
    font-weight: bolder;
    font-size: larger;
}

.resend span{
    color: slategray;
    margin-left: 42rem;

    font-weight: bold;
    font-size: medium;
}

.resend a{
    color:black;
    margin-left: 46rem;

    font-weight: bold;
    font-size: medium;
}